<app-header titulo="card"></app-header>

<ion-content>

    <ion-card mode="ios" color="primary">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item color="primary">
          <ion-icon color="light" slot="start" name="pin"></ion-icon>
          <ion-label>Marcador</ion-label>
        </ion-item>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sequi alias quibusdam debitis praesentium in itaque blanditiis sit architecto mollitia perferendis atque natus reprehenderit distinctio similique, nisi esse, saepe iusto.
        </ion-card-content>
      </ion-card>


      <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, deleniti beatae? Ratione earum deleniti magnam eum officia blanditiis est rem laborum ut illum, debitis explicabo dolorem ipsum aliquid voluptas qui!
        </ion-card-content>
      </ion-card>
      

</ion-content>
