<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col col="12">
        <h4>Peliculas del mes</h4>
      </ion-col>
      <ion-col ></ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [peliculas]="peliculasRecientes" ></app-slideshow-backdrop>


  <ion-grid fixed>
      <ion-row>
        <ion-col col="12">
          <h4>Cartelera</h4>
        </ion-col>
        <ion-col ></ion-col>
      </ion-row>
    </ion-grid>
  
    <app-slideshow-poster [peliculas]="peliculasRecientes" ></app-slideshow-poster>

    <ion-grid fixed>
        <ion-row>
          <ion-col col="12">
            <h4>Polulares</h4>
          </ion-col>
          <ion-col ></ion-col>
        </ion-row>
      </ion-grid>

    <app-slideshow-pares [peliculas]="polulares" (cargarMas)="cargarMas()"></app-slideshow-pares>

 
</ion-content>
